[user]
	email = __________________
	name = __________________
[push]
	default = simple
[core]
	# editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
	editor = code --wait
	preloadindex = true
	fscache = true
[gc]
	auto = 256
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	# Base commands
	com = commit -m
	s = status
	c = checkout
	ri = rebase -i
	ri2 = rebase -i HEAD~2
	ri3 = rebase -i HEAD~3
	ri4 = rebase -i HEAD~4
	ri5 = rebase -i HEAD~5
	a = add
	b = branch

	# tree log
	tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	# compact log
	ls = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	# long log
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	
	# Last commit, detailed
	last = diff --cached HEAD^

	# Commit everything fast
	wip = "!git add . && git com 'wip'"

	# Merge develop into master, and push
	mdm = "!git checkout develop && git pull && git push && git checkout main && git pull && git merge develop && git push && git checkout develop"

	# Merge wip into develop, and push
	mwd = "!git checkout wip && git pull && git push && git checkout develop && git pull && git merge wip && git push && git checkout wip"

	# Commit difference between current branch and its remote counterpart
	preview = "!git fetch && echo '\n---------- Remote only (pull) ----------' && git log --oneline ..origin/$(git rev-parse --abbrev-ref HEAD) && echo '\n---------- Local only (push) ----------' && git log --oneline origin/$(git rev-parse --abbrev-ref HEAD).. && echo"
	
	# List all aliases
	aliases = !git config -l | grep alias | cut -c 7-
	
[credential]
	helper = wincred

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
